apiVersion: v1
baseDomain: "{{ base_domain }}"
compute:
- hyperthreading: Enabled   
  name: worker
  replicas: 3
controlPlane:
  hyperthreading: Enabled   
  name: master
  replicas: 3 
metadata:
  name: "{{ cluster_name }}"
platform:
  vsphere:
    vcenter: "{{ vcenter_hostname }}"
    username: "{{ vcenter_user }}"
    password: "{{ vcenter_pass }}"
    datacenter: "{{ vcenter_datacenter }}" 
    defaultDatastore: "{{ vcenter_datastore }}"
pullSecret: '{{ pull_secret }}'
sshKey: "{{ lookup('file', '{{ role_path }}/templates/id_rsa.pub') }}"
